.form {
  max-width: 400px;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

select,
input {
  width: 100%;
  padding: 7px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"] {
  resize: none;
}

textarea[type="text"] {
  resize: none;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

/* Add the following styles for the rating__row */


/* Add the following styles for the button */

