.dashboard__main{
    width:100%;
    line-height:2rem;
}

.total__reviews{
    text-align:start;
    
}
.review__button{
    text-align: right;

}
.review__me{
    background-color: #e15600;
    color:white;
}