
.nav__main{
    /* background-color:#912338 ; */
    box-shadow: rgb(-20, -20, -20);
    padding: 2% 0;
}

.nav__main .open__drawer{
    color:white;
    position: absolute;
    left: 2rem;
}

.nav__links{
    text-align: right;
    margin-top: 15px;
}
.nav__links li{
    font-family: 'Raleway';
    font-weight: bold;
    display: inline;
    color:white;
    margin: 4%;

}

.review__link li{
    color:#F4bd47
}