.user__card {
      background-color:#fff;
      min-height: 275px;
      height: fit-content;
      padding-top: 25px;
      border-radius: 10px;
      margin-bottom: 10%; /* Added margin to the bottom of user__card */
      gap:25px;


        box-shadow: 0px 1.33333px 3.33333px 0px rgba(0, 0, 0, 0.10), 0px 5.99999px 5.99999px 0px rgba(0, 0, 0, 0.09), 0px 12.66665px 7.99999px 0px rgba(0, 0, 0, 0.05), 0px 23.33331px 9.33332px 0px rgba(0, 0, 0, 0.01), 0px 35.99995px 9.99999px 0px rgba(0, 0, 0, 0.00);
  }
  
  .overview{
    display:flex;
    flex-direction: column;
    height:80%;
    column-gap: 30px;
    min-height: 200px;
  }

.date {
    margin-top: auto;
  }
  .overview p{
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    
  }

  .overview h2{
    margin-bottom: 5%;
    color: #912338;
    text-align: justify;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .ratings{
    border-radius: 5.333px;
    border: 0.667px solid #939393;
    height:200px;
  }

  .score__box{
    background-color: #ccc;
    border-radius: 6px;
    width:35px;
    height:30px;
    /* margin-bottom: 20px;; */
  }
  .score__box p{
    text-align: center;
    color: #912338;
    font-family: Montserrat;
    font-size: 21.333px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .scoring__section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    gap:20px;
    margin-top:2%;
    height:200px;
  }
  .scoring__section h5{
    color: #912338;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .ratings__row h2{
    color: #912338;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .title__holder p{
    color: #7E7E7E;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .title__holder{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap:15px;
    margin-top:2%;
  }

.message__buttons p{
    margin-top:5%;
    width:fit-content;
    border-radius:5px;
    padding: 10px;
    
}

.first-button{
  background-color: #14B806;
  color:#fff;
}
.second-button{
  background-color: #B82606;
}
.is__accurate{
  display:flex;
  justify-content: center;
}

.is__accurate h5{
  color: #6F6F6F;
  font-family: Lato;
  font-size: 10.667px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 10.667px */
}

.accurate{
  display:flex;
  justify-content: end;
}