
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oswald:wght@500&display=swap');


.background__hero{
    width: 100%;
    height: 450px;
    background-image: url('https://live.staticflickr.com/5006/5279916243_96267b8e32_b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(50%)

}
.background__hero
.program__holder h1{
    font-family: 'Raleway';
    font-weight: bold;
    text-transform: uppercase;
    margin:32px;
    font-size:55px;
    text-align: center;
}

.mission__statement{
    padding-top:15%;
    z-index: 1000;
}

.mission__statement h1 {
    color:white !important;
    font-size: 96px !important;
    font-family: 'Montserrat';
    font-weight: bold;
}