@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:wght@700&display=swap');



body{
    background-color:#f2f2f2;

}


.class__card{
    padding:  10px ;
    border: 1px solid #eee;
    transition-duration: 300ms;
    margin: 1.5% ;
    text-align: center;
    filter: drop-shadow(black 2px 2px 2px);
    font-weight: bold;
    color:  black;
    border-radius: 6.667px;
    background: #FFF;
    box-shadow: 0px 1.333px 3.333px 0px rgba(0, 0, 0, 0.10), 0px 6px 6px 0px rgba(0, 0, 0, 0.09), 0px 12.667px 8px 0px rgba(0, 0, 0, 0.05), 0px 23.333px 9.333px 0px rgba(0, 0, 0, 0.01), 0px 36px 10px 0px rgba(0, 0, 0, 0.00);
}

.class__card button{
    font-family: 'Montserrat';
    font-weight:bold;
    background-color: #912338;
    text-decoration: none;
    border-color: #912338;
    color:white;
    margin-top:10%;
    padding: 12px 32px !important;
  
}
.class__card:hover{
    transform: scale(1.1);
}

.class__card button:hover{
    color:white;
    background-color: black;
    border-color: black;
}


.card__title{

color: #000;
text-align: center;
font-family: "Raleway" !important;
font-size: 28px !important;
font-weight: 500px !important;
line-height: normal;
text-transform: uppercase;
}

