.class__card{
    padding: 2% 0 ;
    border: 1px solid #eee;
    transition-duration: 300ms;
    margin: 1.5% ;
    text-align: center;
    /* background-color: #912338; */
    background-color: #eeee;
    color:  #912338;
    box-shadow: 0 5px 5px 5px rgba(0,0,0,0.3);
}

.class__card button{
    background-color: #eee;
    text-decoration: none;
    border-color: black;
    color:black;
    margin-top:10%;
}
.class__card:hover{
    transform: scale(1.1);
}

.class__card button:hover{
    color:white;
    background-color: black;
    border-color: black;
}


