.search__bar{
    border-radius: 30px 30px 0px 0px;
    background-color: white;
    padding:100px 0;
    margin-top: -6%;
}

.search__section{
    padding:50px !important;
    text-align: center;
}

.search__btn{
    background-color: black;
    color:white;
}

.search__entry{
    width:25%;
    height:35px;
    border-radius: 3%;
}

.search__row{
    text-align: center;
    width:75%;
    background-color:white;

}