
.side__drawer{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 20%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.side__drawer ul li{
    text-decoration: none;
    line-height: 60px;
    list-style: none;
}

.side__drawer ul li:hover{
    text-decoration:underline;
    background-color: white;
    color:black
}

.close__button__drawer{
    text-align:right;
    margin:20px 20px 0 0;
}