
.account__body{
    background: #912338;
    height:100vh;
}
.account__row{
    padding-top:10% !important;
 }
.account__img{
    height: 600px;
    background-image: url('https://www.concordia.ca/content/concordia/en/maps/buildings/ev/_jcr_content/content-main/image_1438381128.img.jpg/1668709060941.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 0.667px solid #7E7E7E;
}

.account__section{
    border-radius: 10px;
    border: 0.667px solid #7E7E7E;
    background: #FFF;
    margin-left:-1%;
    text-align: center;
}

.account__section h2{
    font-size:24px;
    text-transform: uppercase;
    line-height:normal;
    margin-top: 45px;
    padding:10px;
    text-align: center;
    background-color: #0073CE;
    color:#fff;
    font-family: 'Lato'
}

.account__login{
    color:black;
    font-family: 'Montserrat';
    margin-left:10%;
    text-align:center;
}

.account__button{
    margin-top:5% ;
    color: white!important;
    background-color: #0073CE;
    font-family: 'Montserrat';
  
}
.account__button:hover{
    color: white!important;
    background-color: black;
    font-family: 'Montserrat';
  
}

.account__login label{
    text-align:start;
    color: #52525C;
}

.account__login h5{
    font-size:24px;
    text-align:center;
    margin-top:15%;
}

.forgot__password{
    margin-top:50px;
}